/* RESETAR */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav, ul {
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity:1;
}
/* HEADER */
header{
    background: #fff;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid;
}
header img {width: 200px;}
header nav {display: flex;}
header li a {color:#191c03}
header li{margin: 0 15px;}
header li:first-child{margin-left: 0;}
header li:last-child{margin-right: 0;}

@media(max-width : 700px){
    header { flex-direction:column;}
    header  img{ margin-bottom: 15px;}
}
/* HERO */
.hero{
    background: url(img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h1 {
    font-size:3.2rem;
    margin-bottom: 15px;
}
.hero h3 {
    font-size:2rem;
    margin-bottom: 15px;
}
.hero .btn{
    background: #fff;
    border-radius: 4px;
    color:#191c03;
    padding: 20px 50px;
    text-transform: uppercase;
}
@media(max-width : 700px){
    .hero h1 { font-size: 2.5rem;}
    .hero h3 { font-size: 1.5rem;}
}
/* HOTEL */
.hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.hotel h3{
    font-size: 2rem;
    margin-bottom: 35px;
}
.hotel p{
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}
.hotel hr {
    width: 200px;
    height: 2px;
    background: #191c03;
    border: none;
}
.hotel .grid{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hotel .grid li{ 
    height: 350px;
    border-radius:4px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.hotel .grid li.small {
    flex-basis: 40%;
}
.hotel .grid li.large {
    flex-basis: 60%;
}
@media(max-width : 700px){
    .hotel .grid li.small, .hotel .grid li.large {
        flex-basis: 100%;
    }
}

/* CARACTERISTICA */
.caracteristicas{
background: #191c03;
display: flex;
flex-direction: column;
align-items: center;
padding: 100px 50px;
color:#fff;
}
.caracteristicas h3{
    font-size: 2rem;
    margin-bottom: 35px;
}
.caracteristicas p{
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
}
.caracteristicas hr {
    width: 200px;
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 50px;
}
.caracteristicas .grid{ 
    width: 100%;
    display: flex;
}
.caracteristicas .grid li{ 
    border-radius:4px;
    padding: 0 30px;
    text-align: center;
}
.caracteristicas .grid li i {
    color: #c3c63b;
    font-size: 50px;
    margin-bottom: 30px;
}
.caracteristicas .grid li h4{
    font-size: 1.5rem;
    color:#c3c63b;
    margin-bottom: 30px;
}
@media(max-width:850px){
    .caracteristicas .grid{
        flex-direction: column;
    }
}

/* NOTICIAS */
.noticias{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.noticias h3{
    font-size: 2rem;
    margin-bottom: 35px;
}
.noticias p{
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
}
.noticias hr {
    width: 200px;
    height: 2px;
    background: #191c03;
    border: none;
    margin-bottom: 50px;
}

.noticias form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.noticias input{
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 5px;
    flex:1;
}
.noticias button{
    padding: 15px;
    background: #c3c63b;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media(max-width:850px){
    .noticias input{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
.rodape{
    display: flex;
    flex-direction: column;
    background: #191c03;
    color: #c3c63b;
    padding: 50px 0;
    align-items: center;
}
.rodape ul {
    display: flex;
    margin-bottom: 25px;
}
.rodape ul li {
    margin-right: 10px;
}
.rodape ul li i {
    font-size: 30px;
    color: #c3c63b;
}
.rodape p {
    text-align: center;
}